.shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* ТЕ ЖЕ значения, что у блюра в auth */
  --modal-blur: 8px;
  --modal-dim: 0.15;
}

.main {
  flex: 1;
  background: #fafafc;
}